{% extends 'base.html' %} {% load static %} {% block user %} {{user}} {% endblock user %} {% block poste %} {{poste}} {% endblock poste %} {% block body %}
<div class="col-md-9 mt-4" style="margin-left: 120px;">
    <div class="numbers">

        <a class="btn bg-gradient-dark w-10" href="..\proposition_budgetaire"><i class="fas fa-arrow-left"></i></a>

    </div>
    <div class="card">
        <div class="card-header text-center pt-4">
            <h6 class="mb-0">PROPOSITION DE BUDGET</h6>
        </div>
        <div class="card-body pt-4 p-3">
            <ul class="list-group">

                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">FONCTIONNEMENT</h6>
                    </div>


                    {% if fonct == False %}
                    <div class="ms-auto">
                        <a class="btn bg-gradient-dark w-100" href="..\proposition_fonctionnement"> <i class="fas fa-pen-square"></i> Remplir</a>
                    </div>
                    {% else %}
                    <div class="ms-auto">

                        <a class="btn bg-gradient-success w-100" data-toggle="modal" data-target="#exampleModalCenter10"> Déja traité <i class="far fa-check-circle"></i></a>
                    </div>

                                                            <!-- modal-->
                                                            <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                  <div class="modal-content">
                                                              
                                                                    <div class="modal-body">
                                                                    Proposition budgétaire "FONCTIONNEMENT" est déja traité voulez-vous le modifier ?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                      <a  type="button" class="btn btn-secondary" data-dismiss="modal">Non</a>
                                                                      <a href="..\edit_fonctionnement_proposition" type="button" class="btn bg-gradient-danger">Modifier</a>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>


                    {% endif %}








                </li>





                {% if unite.Exploitation_Indicateur == "Y" %}



                <li class="list-group-item border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">EXPLOITATION</h6>
                    </div>


                    {% if expl == False %}
                    <div class="ms-auto">
                        <a class="btn bg-gradient-dark w-100" href="..\proposition_exploitation"> <i class="fas fa-pen-square"></i> Remplir</a>
                    </div>
                    {% else %}
                    <div class="ms-auto">

                        <a class="btn bg-gradient-success w-100" data-toggle="modal" data-target="#exampleModalCenter20" > Déja traité <i class="far fa-check-circle"></i></a>
                    </div>


                                                            <!-- modal-->
                                                            <div class="modal fade" id="exampleModalCenter20" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                  <div class="modal-content">
                                                              
                                                                    <div class="modal-body">
                                                                    Proposition budgétaire "EXPLOITATION" est déja traité voulez-vous le modifier ?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                      <a  type="button" class="btn btn-secondary" data-dismiss="modal">Non</a>
                                                                      <a href="..\edit_exploitation_proposition" type="button" class="btn bg-gradient-danger">Modifier</a>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>


                    {% endif %}







                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</div>

{% endblock body %}