{% extends 'base.html' %} {% load static %} {% block user %} {{user}} {% endblock user %} {% block poste %} {{poste}} {% endblock poste %} {% block body %}


<div class="container-fluid py-4">


    <div class="row">
        <div class="col-8">
            <div class="numbers">

                <a class="btn bg-gradient-dark w-10" href="..\proposition_depense"><i class="fas fa-arrow-left"></i></a>

            </div>
        </div>

    </div>
</div>


<!--          TABLES AFFICHAGE              -->



<div class="row my-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
        <div class="card">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-lg-6 col-7">
                        <h3>PROPOSITION DEPENSES Fonctionnemet</h3>

                        <p class="text-sm mb-0">
                            <span class="font-weight-bold ">Unité : </span> {{unite}}
                        </p>
                        <p class="text-sm mb-0">
                            <span class="font-weight-bold ">Code monnaie : </span> {{unite.lib_monnaie}}
                        </p>
                        <p class="text-sm mb-0">
                            <span class="font-weight-bold ">Réglé par : </span> Unité
                        </p>
                    </div>
                    <div class="col-lg-6 col-5 my-auto text-end">

                    </div>
                </div>
            </div>












            <div class="card-body px-0 pb-2">
                <div class="table-responsive">

                    <table class="table align-items-center mb-0" id="tableau_pv">
                        <tbody>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">SCF</th>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RUBRIQUES</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">TYPE</th>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Réglé Par</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">MONNAIE</th>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cloture</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prévision (n+1)</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Commentaire</th>

                            </tr>
                            <form method="POST" action="{% url 'test3' %}">
                                {% csrf_token %} {% for c in compte %}

                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><input type="text" class="form-control" value="{{c.pos6.scf}}" name="scf" aria-label="Name" aria-describedby="email-addon"></th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><input type="text" class="form-control" value="{{c.pos6.lib}}" name="rubrique" aria-label="Name" aria-describedby="email-addon"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><input type="text" class="form-control" value="{{c.type}}" name="type" aria-label="Name" aria-describedby="email-addon"></th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><select name="regler" class="form-control"><option value="unite">Unité</option><option value="siege">Siège</option><option value="autre">Autre</option></select></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><select class="form-control" name="monnaie">
                                    {% for m in monnaie %}
                                    <option value="{{m.code_monnaie}}">{{m.code_monnaie}}</option>
                                
                                    
                                    {% endfor %}</select></th>


                                    <td class="align-middle text-center text-sm">
                                        <input type="number" class="form-control" placeholder="{{c.lib}}" value=0 name="compte2" aria-label="Name" aria-describedby="email-addon">
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <input type="number" class="form-control" placeholder="{{c.lib}}" value=0 name="compte3" aria-label="Name" aria-describedby="email-addon">
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <input type="text" class="form-control" name="commentaire" aria-label="Name" aria-describedby="email-addon">
                                    </td>
                                    {% if c.added_by == p.type_user or c.added_by == "cadre_bud" or  p.type_user == "sd" %}
                                    <td class="align-middle text-center text-sm ">
                                        <button class="btn bg-gradient-danger " type="button" data-toggle="modal" data-target="#{{c.id}}" name="supression" >Supprimer</button>
                                    </td>
                                    {% endif %}
                                </tr>
                            
                                <div class="modal fade" id="{{c.id}}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-body">
                                          <p>Voulez-vous vraiment supprimer ce compte ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'delete_unite_pos_fct' %}" method="POST">
                                                {% csrf_token %}
                                          <button type="submit" class="btn btn-danger" value="{{c.id}}" name="id" > Oui , Supprimer</button>
                                        </form>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                


                                {% endfor %}

                                <td>
                                    <button class="btn bg-gradient-dark w-90 mb-0" type="submit">Envoyer</button>
                                </td>
                            </form>

                        </tbody>

                    </table>





                    <tr>





                        </tbody>
                        </table>
                </div>
            </div>



        </div>
    </div>



</div>

















<!--Bouton d'ajout -->

<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fas fa-plus py-2"></i>
    </a>
    <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">

            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                      <i class="fa fa-close"></i>
                    </button>
            </div>
            <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
            <!-- Sidebar Backgrounds -->
            <div>
                <h6 class="mb-0">Ajouter un compte</h6>
            </div>

            <!-- Sidenav Type -->

            <div class="d-flex">
                <table class="table align-items-center mb-0" id=""><tbody>
                   <form method="POST" action="">
                    {% csrf_token %}
                    <tr>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">SCF</th>
                        <td class="align-middle text-center text-sm">
                            {{form.compte}}
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center text-sm" colspan="2">
                            <button class="btn bg-gradient-danger" type="submit">  Ajouter &nbsp;<i class="fas fa-user-plus"></i></button>
                        </td>
                    </tr>
                </form> 
                </tbody></table>
                
                 <!-- Navbar Fixed -->
            </div>
                     

        </div>
    </div>
</div>



</div>












<!--                                          
      <script>
        var button=document.getElementById('addrow')
        button.addEventListener('click',function(event){
          event.preventDefault()
          Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Your work has been saved',
        showConfirmButton: false,
        timer: 1500
      })
        })
     
      </script>
  -->



{% endblock body %}